@import "src/styles/responsiveness";

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 400px;

  @include mobile {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

.title {
  color: #fff;
  z-index: 3;
  mix-blend-mode: difference;
  margin-top: 10px;
}

.figure {
  position: absolute;
  top: calc(-50% + 10px);
  left: 10%;
  width: 200px;
  height: 200px;
  background: white;
  z-index: 2;

  animation-duration: 2.5s;
  animation-name: move;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;

  @include mobile {
    top: calc(-50% + 30px);
    width: 80px;
    height: 80px;
  }
}

@keyframes move {
  from {
    transform: translateX(0) rotate(60deg);
  }
  to {
    transform: translateX(200%) rotate(380deg);
  }
}
