@import 'src/styles/responsiveness';

.title {
  font-family: Poppins, serif;
  font-weight: 800;
  font-size: 74px;
  line-height: 80px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  @include md {
    font-size: 55px !important;
    line-height: 60px !important;
  }
  @include sm {
    font-size: 50px !important;
    line-height: 50px !important;
  }
  @include mobile {
    font-size: 34px !important;
    line-height: 40px !important;
    text-transform: none;
  }
}

.subtitle {
  font-family: 'Space Grotesk', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
  margin-left: 5px;
  @include md {
    font-size: 25px !important;
    line-height: 20px !important;
  }
  @include sm {
    font-size: 20px !important;
    line-height: 10px !important;
  }
  @include mobile {
    font-size: 16px !important;
    line-height: 0px !important;
  }
}
