$screen-mobile-max: 480px;
$screen-sm-max: 767px;
$screen-md-max: 1024px;
$screen-lg-max: 1440px;
$screen-xl-max: 2560px;

@mixin mobile {
  @media (max-width: #{$screen-mobile-max}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}
