@use "sass:math";
@import 'src/styles/constants';
@import 'src/styles/responsiveness';

.root {
  width: 100%;
  height: 100%;

  font-family: 'Space Grotesk', serif;
  color: black;

  &--dark-mode {
    color: white;
  }
}