@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

.container {
  width: 100vw;
  background: black;
  padding: 42px 0;
  margin: 0 -10vw;
  margin-top: 30px;
}

.text {
  margin-right: 58px;
  font-family: 'Trispace', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.1em;
  color: #4ffdbe;
  white-space: nowrap;
}
